@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Khand:wght@300;400;500;600;700&family=Libre+Caslon+Display&family=Life+Savers:wght@400;700;800&family=Love+Light&family=Pompiere&family=Rye&display=swap');


.Nav-bar {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #b1b1b100;
    color: aliceblue;
}

.Hchef-img {
    height: 60px;
    width: 180px;
}

.nav-links {
    display: flex;
    gap: 30px;
    position: relative;
}

.nav-item {
    position: relative;
}

/* NavLink styling */
.hover-box {
    text-decoration: none;
    font-family: 'Life Savers';
    font-style: oblique;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    right: 98px;
    z-index: 2;
}


.hover-img {
    display: none;
    position: absolute;
    top: -9px;
    right: 45px;
    width: 128px;
    margin: 0px 20px 0px 0px;
    height: auto;
    z-index: 0;
    pointer-events: none;
}

.nav-item:hover .hover-img {
    display: block;
}

@media screen and (max-width: 768px) {
    .Nav-bar {
        display: flex;
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
        background-color: #fbfbfb00;
        color: aliceblue;
    }
    .Hchef-img {
        height: 35px;
        width: 71px;
        position: relative;
        right: 24px;
    }
    .hover-box {
        text-decoration: none;
        font-family: 'Life Savers';
        font-style: oblique;
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: bold;
        padding: 5px;
        right: 0px;
        z-index: 2;
    }
    .nav-links {
        display: flex;
        gap: 10px;
        position: relative;
    }
    .hover-img {
        display: none;
        position: absolute;
        top: 2px;
        left: -10px;
        width: 70px;
        margin: 0px 0px 0px 0px;
        height: auto;
        z-index: 0;
        pointer-events: none;
    }
}